.layout {
    display: flex;
    flex-direction: column;
}

.header {
    text-align: center;
    color: white;
    background-color: black;
    padding: 20px;
}

.footer {
    text-align: center;
    color: white;
    background-color: black;
    padding: 1rem 0;
}

.repo-link {
    color: white;
}